
header{
  background-image: 
  url("../images/top.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;

}

@media (max-width:768px){
  header{
    height: 250px; 
  }
}


main{
  padding: 30px
}


main .main-text{
  text-align: center;
  margin-bottom: 30px;
}


main .flexbox{
  display: flex;
  justify-content: space-between;
}

@media (max-width:768px){
  main .flexbox {
    flex-direction: column;
  }
}


main .box{
  width: 30%;
  background-color: #ddd
}

@media (max-width:768px){
  main .box {
    width: 100%;
    margin-bottom:  30px;
  }
}


main .box h2{
  text-align: center;
  padding: 15px 0;
}

main .box p{
  text-align: start;
  padding:50px;
  background-color:#49a9d4;
}





footer {
  padding: 30px;
  background-color: #ddddff;
  text-align: center
}

.footer-text {
  text-align: center;
 margin-bottom: 30px;
}


.button {
    display:block;
    width: 30%;
    background-color:#49a9d4;
    margin: 0 auto;
    border-radius:5px;
    text-decoration: none;
    padding: 10px 0;
}

